{% extends "registration/registration_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<div class="container">
    <dir class="row">
        <div class="col-md-6">
			<form method="post" action="">
			    {% csrf_token %}
			    {{ form|crispy }}
			    <input type="submit" value="{% trans 'Change password' %}" class="btn btn-primary pull-right" />
			</form>
		</div>
	</dir>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
