{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
	<div class="col-md-9">
		<h1>Contact Us</h1>
		<form action="/your-name/" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
		{% csrf_token %}
			{{ form_class|crispy }}
			<input type="submit" class="btn btn-primary" value="Send" />
		</form>
	</div>
	<div class="col-md-3">
		<address>
			<strong>Home-Start Cambridgeshire </strong>,<br/>
			The Fields Children's Centre,<br/> Galfrid Road,<br/> Cambridge CB5 8ND<br/>
		</address>
	</div>
</div>

{% endblock %}