div.header-top-container.show-for-large-up {
	background-color: #991f00;
}
li.logo-container {
	padding-top: 0;
}
li.logo-container img {
	height: 80px;
}
.btn.donate-now {
	background-color: #fff;
	color: #991f00;
	font-weight: bold;
}

/*Title - right*/
a.btn.donate-now {
	font-size: 18px;
}

/*Carousel*/
#home-container .home-banner-container .home-banner .banner {
	width: 100%;
	height: 400px;
}

div.banner img {
	width: 100%;
}
.home-banner div.banner {
	position: relative;
}

/*Footer menu*/

.large-12.medium-12.small-12.columns {
	padding-bottom: 20px;
}
.large-12.medium-12.small-12.columns strong, p {
	color: #fff;
	text-align: center;
}

.address {
	color: #fff;
	text-align: center;
}
