div.header-top-container.show-for-large-up {
	background-color: #991f00;
}
li.logo-container {
	padding-top: 0;
}
li.logo-container img {
	height: 80px;
}
.btn.donate-now {
	background-color: #fff;
	color: #991f00;
	font-weight: bold;
}
header .main-menu-container .main-menu li .sub-menu {
	background-color: none;
	background: #991f00;
}

/*Title - right*/
a.btn.donate-now {
	font-size: 18px;
}

a.login {
	margin-left: 200px;
}

i.fa.fa-user {
	color: #009933;
}

a.logout {
	margin-left: 80px;
	color: red;
}

span.logout {
	color: #991f00;
}

a i.fa.fa-user {
	coloer:green;
}

/*Carousel*/
#home-container .home-banner-container .home-banner .banner {
	width: 100%;
	height: 400px;
}

div.banner img {
	width: 100%;
}
.home-banner div.banner {
	position: relative;
}

/* Body content */

div.col-sm-8 p.content {
	margin-right: 20px;
}

div.col-sm-8 p {
	color: #000;
	text-align: justify;
}

section.section {
	margin-top: 30px;
}

.col-sm-8 img {
	width: 550px;
	height: 350px;
	margin: 15px;
}

button.btn.btn-info.pull-right.return {
	background-color: none;
	background: orange;
	border-radius: 5px;
}

button.btn.btn-success.create {
	background-color: none;
	background: #009933;
	border-radius: 5px;
	margin: auto 10px;
}

button.btn.btn-update { 
	background-color: none;
	background: #0052cc;
	border-radius: 5px;
	margin: auto 10px;
}

button.btn.btn-delete {
	background-color: none;
	background: #991f00;
	border-radius: 5px;
	margin: auto 10px;
}

div.btn.btn-primary.pull-right.readmore {
	background-color: none;
	background: #004080;
	border-radius: 5px;
	margin: auto 20px;
}

input.btn.btn-primary.send.pull-right {
	background-color: none;
	background: #004080;
	border-radius: 5px;
	margin: auto 20px;
}

a.btn.readmore {
	background-color: none;
	background: #004080;
	border-radius: 5px;
}

/*Footer menu*/

h3.connect-title, ul.footer-social > li {
	margin-top: 60px;
}


div.footer-menu {
	background-color: none;
	background: #991f00;
}

.large-12.medium-12.small-12.columns {
	padding-bottom: 20px;
}
.large-12.medium-12.small-12.columns strong, p {
	color: #fff;
	text-align: center;
}

.address {
	color: #fff;
	text-align: center;
}


/*Login form*/
.large-6.medium-6.small-12.columns p {
	color: #000;
	display: inline;
}

/*Register form */

p#hint_id_username.help-block {
	display: none;
}