{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

{% block carousel %}
	{% include 'carousel.html' %}
{% endblock %}

<div class="container">
	<div class="row">
		<div class="col-md-7">
			{% if messages %}
			<ul class="messages">
			    {% for message in messages %}
			    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
			    {% endfor %}
			</ul>
			{% endif %}

			<h3>{{query_page.title}} <small class="pull-right"><i>{{create_date.timesince}}</i></small></h3>
			
			<p class="main-content"> {{ query_page.content|linebreaks }} </p>
			{% if user.is_staff or user.is_authenticated %}
				<a href="{% url 'main:update' slug=query_page.slug %}"><button class="btn btn-primary">Update</button></a>
			{% endif %}
		</div>
		
		<div class="col-md-5" style="height:400px; width:400px;overflow:hidden;">
			{% if query_page.image %}
				<img src="{{STATIC_URL}}{{query_page.image.url}}" class="img-responsive pull-right">
			{% endif %}
		</div>
		<br/>

		<div class="container">
		
		{% if user.is_staff or user.is_authenticated %}
			{%  if no_text %}
				<a href="{% url 'main:create' %}"><button class="btn btn-success create">Add New Page</button></a>
			{%  endif %}
		{% endif %}
		</div>
		
	</div>
</div>
{% endblock content %}
