{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<script type="text/javascript">
	$('.thumbnail').click(function(){
	  	$('.modal-body').empty();
	  	var title = $(this).parent('a').attr("title");
	  	$('.modal-title').html(title);
	  	$($(this).parents('div').html()).appendTo('.modal-body');
	  	$('#myModal').modal({show:true});
	});
</script>

<div class="container">
	<div class="row">
		<h3>Home Start Cambridgeshaire Team</h3>
		<div class="row">
			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Jan Attwood">
					<img src="{% static 'images/jan.jpg' %}" alt="Jan Attwood" class="thumbnail img-responsive">
				</a>
			</div>
			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Linda Gipp">
					<img src="{% static 'images/linda.jpg' %}" alt="Linda Gipp" class="thumbnail img-responsive">
				</a>
			</div>
			
			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Kate Gerighty">
					<img src="{% static 'images/kate.jpg' %}" alt="Kate Gerighty" class="thumbnail img-responsive">
				</a>
			</div>
			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Sian Williams">
					<img src="{% static 'images/sian.jpg' %}" alt="Sian Williams" class="thumbnail img-responsive">
				</a>
			</div>
			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Maria Isaacs">
					<img src="{% static 'images/maria.jpg' %}" alt="Maria Isaacs" class="thumbnail img-responsive">
				</a>
			</div>
			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Eleanor">
					<img src="{% static 'images/eleanor.jpg' %}" alt="Eleanor" class="thumbnail img-responsive">
				</a>
			</div>
			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Marney Connor">
					<img src="{% static 'images/marney.jpg' %}" alt="Marney Connor" class="thumbnail img-responsive">
				</a>
			</div>
			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Helen Meredith">
					<img src="{% static 'images/helen.jpg' %}" alt="Helen Meredith" class="thumbnail img-responsive">
				</a>
			</div>
			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Julia Bailey">
					<img src="{% static 'images/julia.jpg' %}" alt="Julia Bailey" class="thumbnail img-responsive">
				</a>
			</div>
			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Julie Robinson">
					<img src="{% static 'images/julie-1.jpg' %}" alt="Julie Robinson" class="thumbnail img-responsive">
				</a>
			</div>
			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Charlotte Daleworth">
					<img src="{% static 'images/ely.jpg' %}" alt="Charlotte Daleworth" class="thumbnail img-responsive">
				</a>
			</div>
			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Julie Nicolls">
					<img src="{% static 'images/julie.jpg' %}" alt="Julie Nicolls" class="thumbnail img-responsive">
				</a>
			</div>
		</div>
		<hr>
		<a href="/">Home Start Cambridgeshire</a>
		<hr>
	</div>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
					<h3 class="modal-title">Heading</h3>
			</div>
			<div class="modal-body">
				Linda has over 20 years’ experience in the voluntary sector having commenced working as an administrator for a children's charity in 1993 and then with Home-Start Cambridgeshire in 2004. She enjoys the diversity of the role which includes contact with families, volunteers, trustees and staff through to helping to organise events and fundraising. Prior to this Linda worked in a bank for 14 years. She has two grown up sons and is treasurer for a local sports club..
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>



{% endblock %}

