{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<script src="{% static 'js/main.js' %}"></script>
<div class="container">
    <dir class="row">
    	<div class="row">
    		<h3>Home Start Cambridgeshire teams</h3>
			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Image 4">
				<img src="{% static 'images/linda.jpg' %}" alt="Linda Gipp" class="thumbnail img-responsive"></a>
				<div class="panel panel-primary">
  					<div class="panel-heading">
						<h5>Linda Gipp</h5>
					</div>
					<div class="panel-body">
						Linda has over 20 years’ experience in the voluntary sector having commenced working as an administrator for a children's charity in 1993 and then with Home-Start Cambridgeshire in 2004. She enjoys the diversity of the role which includes contact with families, volunteers, trustees and staff through to helping to organise events and fundraising. Prior to this Linda worked in a bank for 14 years. She has two grown up sons and is treasurer for a local sports club..
					</div>
				</div>
			</div>
		
			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Image 4">				
				<img src="{% static 'images/jan.jpg' %}" alt="Jan Attwood" class="thumbnail img-responsive"></a>
				
				<div class="panel panel-primary">
  					<div class="panel-heading">
						<h5>Jan Attwood</h5>
					</div>
					<div class="panel-body">
						Jan is the Senior Co-ordinator for HSC. She has worked for the scheme nearly 5 years and before at HSUK for 7 years carrying out QA reviews with schemes. Previously worked in education for over 20 years as a Welfare officer, Special Needs Assistant, Finance Manager and School Manager. She has also enjoyed being a foster parent and a registered childminder.

						Jan has 5 grandchildren aged 1-9 who all fill her time when not working.

						Other interests include: School Governor, Crafts, Gardening, avid collector of thimbles and crumb trays. But most of all she enjoys arts and crafts, reading and swimming with her grandchildren.
					</div>
				</div>
			</div>
		
			
			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Image 4">
				<img src="{% static 'images/kate.jpg' %}" alt="Kate Gerighty" class="thumbnail img-responsive"></a>
				
				<div class="panel panel-primary">
  					<div class="panel-heading">
						<h5>Kate Gerighty</h5>
					</div>
					<div class="panel-body">
						Kath has been involved with Home-start since 2007 when she moved back to the UK after spending 6 years in the sunnier climes of California. At first this was as a volunteer and subsequently a trustee. In September 2014 she became a co-ordinator based in the Ely office.

						When not at work Kath enjoys the outdoors entering mud runs in the summer, running road races in the winter and sailing all year round!
					</div>
				</div>
			</div>
		
		
			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Image 4">
				<img src="{% static 'images/sian.jpg' %}" alt="Sian Williams" class="thumbnail img-responsive"></a>
				
				<div class="panel panel-primary">
  					<div class="panel-heading">
						<h5>Sian Williams</h5>
					</div>
					<div class="panel-body">
						Maria joined Home-Start Cambridgeshire as a Volunteer in the Ely office in May 2013 and became Scheme Administrator in September 2016. Prior to this Maria worked as a Teaching Assistant at a local special needs school and in her spare time undertook a counselling qualification.

						Maria has two daughters who keep her very busy but she also enjoys long walks with her dog when she isn’t at the gym!
					</div>
				</div>
			</div>
		</div>

		<div class="row">			
					
			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Image 4">
				<img src="{% static 'images/maria.jpg' %}" alt="Maria Isaacs" class="thumbnail img-responsive"></a>
				
				<div class="panel panel-primary">
  					<div class="panel-heading">
						<h5>Maria Isaacs</h5>
					</div>
					<div class="panel-body">
						Maria joined Home-Start Cambridgeshire as a Volunteer in the Ely office in May 2013 and became Scheme Administrator in September 2016. Prior to this Maria worked as a Teaching Assistant at a local special needs school and in her spare time undertook a counselling qualification.

						Maria has two daughters who keep her very busy but she also enjoys long walks with her dog when she isn’t at the gym!
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Image 4">
				<img src="{% static 'images/eleanor.jpg' %}" alt="Eleanor" class="thumbnail img-responsive"></a>
				
				<div class="panel panel-primary">
  					<div class="panel-heading">
						<h5>Eleanor</h5>
					</div>
					<div class="panel-body">
						Eleanor has worked in the voluntary sector for over twenty years specialising in children and families. She joined Home-Start in 2001 as a volunteer and became a Co-ordinator for Cambridge City and South Cambs in 2004.

						Eleanor lives in Cambridge and has two grown up children and a very energetic young grandson!
					</div>
				</div>
			</div>
				
			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Image 4">
				<img src="{% static 'images/marney.jpg' %}" alt="Marney Connor" class="thumbnail img-responsive"></a>
				
				<div class="panel panel-primary">
  					<div class="panel-heading">
						<h5>Marney Connor</h5>
					</div>
					<div class="panel-body">>
						Marney worked for the Ministry of Defence, in a variety of roles, for 20 years before deciding to have a complete change in her career. She has been a Volunteer, Trustee, Scheme Administrator and Scheme Co-ordinator for Home-Start since 2009.

						Marney is married with 2 grown up sons. In her spare time she also works as an Hypnotherapist.
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Image 4">
				<img src="{% static 'images/helen.jpg' %}" alt="Helen Meredith" class="thumbnail img-responsive"></a>
				
				<div class="panel panel-primary">
  					<div class="panel-heading">
						<h5>Helen Meredith</h5>
					</div>
					<div class="panel-body">
						Helen is Group Leader of the Home-Start Family Group in Chesterton. Prior to this she worked as an occupational therapist in mental health services, specialising in dementia care. Her passion has always been to enable individuals to reach their potential, be as independent as possible and maintain a sense of well-being.

						When not at work Helen spend most of her time being a mum and looking after her two children. If there is time for any relaxation she enjoys pilates and playing the piano/ singing! Helen also helps at her local church with the children’s work.
					</div>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Image 4">
				<img src="{% static 'images/julia.jpg' %}" alt="Julia Bailey" class="thumbnail img-responsive"></a>
				
				<div class="panel panel-primary">
  					<div class="panel-heading">
						<h5>Julia Bailey</h5>
					</div>
					<div class="panel-body">
						Julia joined Home-Start in April 2012 and has worked across all three of our offices within that time. She is responsible for a wide range of administrative duties and enjoys the variety of work that Home-Start brings, dealing with families, volunteers, staff and trustees.

						Prior to joining Home-Start she worked for 10 years for Cambridge Assessment, working within the Customer Services Department of the Cambridge International Examinations Board.

						Away from the office she is kept busy looking after her three school aged children.
					</div>
				</div>
			</div>
		
			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Image 4">
				<img src="{% static 'images/julie-1.jpg' %}" alt="Julie Robinson" class="thumbnail img-responsive"></a>
				
				<div class="panel panel-primary">
  					<div class="panel-heading">
						<h5>Julie Robinson</h5>
					</div>
					<div class="panel-body">
						Julia joined Home-Start in April 2012 and has worked across all three of our offices within that time. She is responsible for a wide range of administrative duties and enjoys the variety of work that Home-Start brings, dealing with families, volunteers, staff and trustees.

						Prior to joining Home-Start she worked for 10 years for Cambridge Assessment, working within the Customer Services Department of the Cambridge International Examinations Board.
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Image 4">
				<img src="{% static 'images/aaron.jpg' %}" alt="Aaron Venables" class="thumbnail img-responsive"></a>
				
				<div class="panel panel-primary">
  					<div class="panel-heading">
						<h5>Aaron Venables</h5>
					</div>
					<div class="panel-body">
						Charlotte joined the Home-Start Cambridgeshire team as a co-ordinator based in the Ely office in June 2015 after spending five years out of the workplace to look after her 3 young children. Prior to this she enjoyed a 15 year career in the housing sector working on the frontline for many years, including in a women’s refuge and in housing management as well as in senior management roles for local authorities and a local housing association.
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Image 4">
				<img src="{% static 'images/ely.jpg' %}" alt="Charlotte Daleworth" class="thumbnail img-responsive"></a>
				
				<div class="panel panel-primary">
  					<div class="panel-heading">
						<h5>Charlotte Daleworth</h5>
					</div>
					<div class="panel-body">
						Charlotte joined the Home-Start Cambridgeshire team as a co-ordinator based in the Ely office in June 2015 after spending five years out of the workplace to look after her 3 young children. Prior to this she enjoyed a 15 year career in the housing sector working on the frontline for many years, including in a women’s refuge and in housing management as well as in senior management roles for local authorities and a local housing association.

						Charlotte doesn’t have a lot of free time but enjoys being involved in her community and was a school governor from 2012-2016, ran a local toddler group for two years and is currently on the fundraising committee of her local playgroup. Charlotte loves reading and is an enthusiastic member of a book group in the village where she lives.
					</div>
				</div>	
			</div>
		</div>

		<div class="row">
		
			<div class="col-lg-3 col-sm-4 col-6">
				<a href="#" title="Image 4">
				<img src="{% static 'images/julie.jpg' %}" alt="Julie Nicolls" class="thumbnail img-responsive"></a>
				
				<div class="panel panel-primary">
  					<div class="panel-heading">
						<h5>Julie Nicolls</h5>
					</div>
					<div class="panel-body">
						Julie has worked for Home-Start Cambridgeshire for over 10 years. She was one of the first members of the West Cambridgeshire Team. Her role now is dealing with the finance for the three offices. She has two boys, 12 and 15 and so understands the difficulties that come with raising a family. She also works for the Children’s Social Care Team. Prior to working for Home-Start she worked in finance and recruitment.
					</div>
				</div>
			</div>
		</div>
	</dir>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3 class="modal-title">Heading</h3>
	</div>
	<div class="modal-body">
		
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
   </div>
  </div>
</div>

		

{% endblock %}

