{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-sm-8 ">

		<h1>About</h1>
		
		{% for page in query_set %}
			<div class="">
			  	<h4>
			  		<a href="{% url 'about:page_detail' slug=page.slug %}">
			  			{{page.title}}
			  		</a> 
			  	</h4>
			</div>
		{% endfor %}

	</div>

	<div>
		<div class="container">
			{% if user.is_staff or user.is_authenticated %}
				<a href="{% url 'about:create_page' %}"><button class="btn btn-success create pull-right">Add New Page</button></a>
			{% endif %}
		</div>

	</div>
	
</div>

{% endblock content %}


