{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-sm-8 ">

		<h1>News</h1>
		
		{% for post in query_set %}
			<div class=""> <!-- page-header -->
				<!-- The hard code L-33-->
			  	<!-- <h4>
			  		<a href="/post/{{post.slug}}/">{{post.title}}</a> 
			  		<small>This is Hard coded</small>
			  	</h4> -->
			  	<h4><a href="{% url 'post:details' slug=post.slug %}">{{post.title}}</a> 
			  		<small>Daynamic code</small>
			  	</h4>
			 	<!-- <h4><a href="{{ post.get_absolute_url }}">{{post.title}}</a> 
			 		<small>Absolute Path and reverse</small>
			 	</h4> -->
			</div>
			
			<i class="pull-right">{{post.create_date|timesince}}</i><br/>
			{% if image %}
				<img src="{{image.url}}" class="img-responsive">
			{% endif %}
			<p>{{post.content|linebreaks|truncatechars:300}}</p>
			<a href="{% url 'post:details' slug=post.slug %}">
				<div class="btn btn-primary pull-right">Read More </div>
			</a>
			<br/><hr/>

		{% endfor %}

	</div>
	
</div>
<div class="pagination">
    <span class="step-links">
        {% if query_set.has_previous %}
            <a href="?page={{ query_set.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ query_set.number }} of {{ query_set.paginator.num_pages }}.
        </span>

        {% if query_set.has_next %}
            <a href="?page={{ query_set.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock content %}


