{% load staticfiles %}

{% include 'header.html' %}
{% include 'navbar.html' %}




	<!-- page_centre_entry.html start -->
<div id="home-container">

	<div class="home-banner-container">
		<div class="home-banner container-fluid">
			<div class="banner">
				<img src="{% static 'images/slide_1.gif' %}" class="img-responsive">
				<div class="hero-text">
				</div>
			</div>
			<div class="banner">
				<img src="{% static 'images/slide_2.gif' %}" class="img-responsive">
			</div>
			<div class="banner">
				<img src="{% static 'images/slide_3.gif' %}" class="img-responsive">
			</div>
			<div class="banner">
				<img src="{% static 'images/slide_4.gif' %}" class="img-responsive">
			</div>
			<div class="banner">
				<img src="{% static 'images/slide_5.gif' %}" class="img-responsive">
			</div>
			<div class="banner">
				<img src="{% static 'images/slide_6.gif' %}" class="img-responsive">
			</div>
			<div class="banner">
				<img src="{% static 'images/slide_7.gif' %}" class="img-responsive">
			</div>
		</div>

	</div>


	<div class="home-banner-curve"></div>
	</div>

	<div class="home">
		<div class="row">
			{% block content %}

			{% endblock %}
		</div>
	</div>

<!-- page_centre_entry.html end -->

{% include 'footer.html' %}