{% load staticfiles %}

{% block carousel %}
<div class="home-banner-container">
	<div class="home-banner container-fluid">
		<div class="banner">
			<img src="{% static 'images/slide_1.gif' %}" class="img-responsive">
			<div class="hero-text">
			</div>
		</div>
		<div class="banner">
			<img src="{% static 'images/slide_2.gif' %}" class="img-responsive">
		</div>
		<div class="banner">
			<img src="{% static 'images/slide_3.gif' %}" class="img-responsive">
		</div>
		<div class="banner">
			<img src="{% static 'images/slide_4.gif' %}" class="img-responsive">
		</div>
		<div class="banner">
			<img src="{% static 'images/slide_5.gif' %}" class="img-responsive">
		</div>
		<div class="banner">
			<img src="{% static 'images/slide_6.gif' %}" class="img-responsive">
		</div>
		<div class="banner">
			<img src="{% static 'images/slide_7.gif' %}" class="img-responsive">
		</div>
	</div>
	<br/><hr>

</div>
{% endblock %}
<div class="home-banner-curve"></div>