{% load staticfiles %}

<footer>
    <div class="footer-top">
        <div class="row">
            <div class="large-6 large-push-3 medium-6 medium-push-3 small-12 columns" id="follow-us">
                <h3 class="connect-title">Follow us</h3>
                    <ul class="footer-social">
                      <li><a href="https://www.facebook.com/homestartcambridgeshire/?hc_ref=PAGES_TIMELINE&fref=nf" target='_blank'><span class="fa fa-facebook"></span></a></li>
                      <li><a href="https://www.linkedin.com/m/company/10787097/" target='_blank'><span class="fa fa-linkedin"></span></a></li>
                  </ul>
            </div>

            <div class="large-3 large-push-3 medium-3 medium-push-3 small-12 columns ">
            <br>
            <br>
            
                <a href="#" class="back-to-top">
                    Back to top <i class="fa fa-chevron-up"></i>
                </a>
            </div>

            <div class="large-3 large-pull-9 medium-3 medium-pull-9 small-12 columns">
                <div class="logo">
                    <a href="/" class="logo">
                        <img src="{% static 'images/hsClogo.jpg' %}" alt="Home Start">
                    </a>
                </div>
            </div>
        </div>
    </div>

<div class="footer-menu">
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <strong><p>© Home-Start Cambridgeshire.</p></strong>
            <p>Registered charity no. 1106007. Registered Charity no. 5139596, Registered office</p>
            <address class="address">
              Home-Start Cambridgeshire,<br/> The Fields Children's Centre, Galfrid Road, Cambridge CB5 8ND<br/>
            </address>
        </div>
    </div>
</div>

<div class="footer-bottom">
    <div class="row">
        <div class="large-9 medium-8 small-12 columns">
            <div class="footer-menu-bottom">
                <ul>
                    <li>
                    Copyright &copy; 2016 Home-Start | Cambridgeshire.
                    </li>
                    <li>
                    All Rights Reserved
                    <!-- Block page no content -->
                    - <a href="/sitemap">Sitemap</a>
                    - <a href="/privacy">Privacy statement</a>
                    - <a href="/terms-and-conditions">Terms & conditions</a>
                    </li>
                </ul>
        </div>
    </div>
    <div class="large-3 medium-4 small-12 columns">
        <div class="bwlogo_container">
            <style scoped type="text/css">
                .bwlogo_container{height:30px;width:60px;background:transparent;}
                .bwlogo{width:30px; height:30px; float:right; background-image:url("https://www.coredna.com/template_images/footer_icons/logo_black.png");}
                .bwlogo.bwired{background-position:left top;}
                .bwlogo.bwired:hover{background-position:left bottom;}
                .bwlogo.coredna{background-position:right top;}
                .bwlogo.coredna:hover{background-position:right bottom;}
            </style>
            <div class="bwlogo coredna">
                <a href="https://www.coredna.com/" title="Powered by CoreDNA" target="_blank">
                    <img src="https://www.coredna.com/template_images/footer_icons/space.png" alt="Powered by CoreDNA" width="30" height="30" />
                </a>
            </div>
            <div class="bwlogo bwired"> 
                <a href="http://www.bwired.com.au/" title="Website by bwired" target="_blank">
                    <img src="https://www.coredna.com/template_images/footer_icons/space.png" alt="Website by bwired" width="30" height="30" />
                </a>
            </div>
        </div>

        <div class="branding">
          Website by &nbsp;<a href="https://www.noisyatom.com" target="_blank" class="bwired">NoisyAtom <i class="fa fa-cog" aria-hidden="true"></i></a>
        </div>
    </div>
  <!-- </div> -->
</div>
</footer>

<a class="exit-off-canvas"></a>
</div>
</div>

<script src="https://rgxkdk.corednacdn.com/js/vendor/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUTuMllmk3LvJ8FCFtWZK7hkSeyeKL8BM&amp;sensor=false"></script>
<script src="https://rgxkdk.corednacdn.com/js/libs.min.js"></script>
<script src="https://rgxkdk.corednacdn.com/js/main.js?v1"></script>
<!-- Widget Script --> <script src="//volunteerwidget.s3.amazonaws.com/js/volunteer-widget.js"></script> 
<script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"24fe916fc1","applicationID":"6083114,1855213,15675271","transactionName":"NlxRNktYXBEABRBRXw8WcBdKTV0PTgULSlUFV1JNW1VdAQpJFFlXBBZUB01mQgMGAw==","queueTime":0,"applicationTime":6,"atts":"GhtGQANCT05DB0YCSxxE","errorBeacon":"bam.nr-data.net","agent":""}</script>

</body>
</html><!-- coredna.heartbeat 1475336849.9159 -->