{% load staticfiles %}

<footer>

  <div class="container">
      <div class="row">
        <div class="col-md-3">
            <ul class="social-network">
              <li><a href="https://www.facebook.com/homestartcambridgeshire/?fref=ts" class="fa fa-facebook fa-2x"></a></li>
              <li><a href="https://www.linkedin.com/company/home-start-cambridgeshire?trk=company_logo" class="fa fa-linkedin fa-2x"></a></li>
            </ul>
        </div>
        <div class="col-md-6">
          <address>
             <strong>© Home-Start Cambridgeshire.</strong><br>
             Registered charity no. 1106007. Registered Charity no. 5139596, Registered office<br>
             Home-Start Cambridgeshire,<br>
             The Fields Children's Centre, Galfrid Road, Cambridge CB5 8ND<br/>
             <abbr title="Phone">P:</abbr> 01223 4567890
           </address>
        </div>
        <div class="col-md-3">
          <a href="" id="top">To Top</a>
        </div>
      </div>
  
  </div>


<div class="buttom-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <ul class="copy-right">
                    <li>
                    Copyright &copy; 2016 Home-Start | Cambridgeshire.
                    </li>
                    <li>
                    All Rights Reserved
                    <!-- Block page no content -->
                    - <a href="/">Sitemap</a>

                    </li>
                </ul>
            </div>
            <div class="col-md-3 ">
	            Website by Noisy Atom&nbsp;
                    <a href="https://www.noisyatom.com" title="Website by Noisy Atom" target="_blank">
	                    <img src="{%  static 'images/na-icon.png' %}" alt="Noisy Atom Icon Image" width="30" height="30" />
	                </a>
            </div>
        </div>
    </div>
</div>
</footer>
  <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">    
  </script>
<!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script>
      window.jQuery || document.write('<script src="{% static "bootstrap/js/jquery/jquery.min.js" %}"><\/script>')
    </script>
   <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
   <script src="{# static 'bootstrap/js/docs.min.js' #}"></script>
   <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   <script src="{% static 'bootstrap/js/ie10-viewport-bug-workaround.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>