{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

{% block carousel %}
	{% include 'carousel.html' %}
{% endblock %}


<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>Welcome to Home-Start Cambridgeshire</h3>
			<p class="content">
			Home-Start is the UK’s leading family support charity, a voluntary organisation offering support to families who have at least one child under five when family life becomes difficult. All round the country local schemes recruit and train volunteers to support local families with young children at home.

			We operate in Cambridge City, East and West Cambridgeshire, South Cambridgeshire, North & South Fenland – offering consistent and seamless support to families across the County.

			We help families deal with diverse issues such as isolation, postnatal illness, multiple births, disability, bereavement or those who are just finding parenting a struggle. We provide practical and emotional support and help build a family’s confidence and ability to cope.

			The ethos of Home-Start Cambridgeshire can best be described as ‘One parent helping another parent through a difficult time’.</p>
		</div>
		

	</div>
</div>



<!-- 	</div> -->
{% endblock %}