{% extends 'base.html' %}
{% load staticfiles %}



{% block content %}

<div class="home-cta">
	<div class="row">

		<div class="large-3 medium-3 small-12 columns">
			<div class="post-content">
				<a href="https://doncare.org.au/our-patron" target="_blank">
					<div class="rounded-img img-bg">
						<img src="https://rgxkdk.corednacdn.com/web_images/ads_0001461726596.jpg"  alt="Our Patron">
					</div>
				</a>	
		
				<h1 class="title"><a href="homestartcambridgeshire.co.uk/our-patron">Our Patron</a></h1>
				<a href="https://doncare.org.au/our-patron" class="btn">Read More</a>
			</div>
		</div>

		<div class="large-3 medium-3 small-12 columns">
			<div class="post-content">
				<a href="imatter" target="_blank">
					<div class="rounded-img img-bg">
						<img src="https://rgxkdk.corednacdn.com/web_images/ads_0001468809160.png"  alt="Leadership">
					</div>
				</a>		
	
				<h1 class="title"><a href="imatter">Leadership</a></h1>
				<a href="imatter" class="btn">Read More</a>
			</div>
		</div>

		<div class="large-3 medium-3 small-12 columns">
			<a href="/news/47th-annual-general-meeting">
				<div class="rounded-img img-bg">
					<img src="https://rgxkdk.corednacdn.com/web_images/news_1475103886.jpg"  alt="47th Annual General Meeting">
				</div>
			</a>

			<h1 class="title"><a href="/news/47th-annual-general-meeting">General Meeting</a></h1>
			<a href="imatter" class="btn">Read More</a>
		</div>

		<div class="large-3 medium-3 small-12 columns">
			<a href="/news/blush-gala-ball">
				<div class="rounded-img img-bg">
					<img src="https://rgxkdk.corednacdn.com/web_images/news_1474424786.jpg"  alt="Blush Gala Ball">
				</div>
			</a>

			<h1 class="title"><a href="/news/blush-gala-ball">Event Metting</a></h1>
			<a href="imatter" class="btn">Read More</a>
		</div>
	</div>
</div>


<div class="our-partners-container">
	<div class="row">
		<div class="large-12 columns">
			<div class="our-partners">
				<div class="partners-carousel1">
				<hr>
					<div class="item">
						<a href="http://www.vic.gov.au/" target="_blank">
							<img src="https://rgxkdk.corednacdn.com/web_images/ads_0001462164054.jpg" alt="Victoria">
						</a>
					</div>

					<div class="item">
						<a href="http://www.manningham.vic.gov.au/" target="_blank">
							<img src="https://rgxkdk.corednacdn.com/web_images/ads_0001461908963.jpg" alt="MCC">
						</a>
					</div>

					<div class="item">
						<a href="https://www.dss.gov.au/" target="_blank">
							<img src="https://rgxkdk.corednacdn.com/web_images/ads_0001461909195.jpg" alt="DSS">
						</a>
					</div>

					<div class="item">
						<a href="http://www.cisvic.org.au/" target="_blank">
							<img src="https://rgxkdk.corednacdn.com/web_images/ads_0001469759318.jpg" alt="CISVic">
						</a>
					</div>

					<div class="item">
						<a href="https://www2.health.vic.gov.au/ageing-and-aged-care/home-and-community-care/hacc-services" target="_blank"><img src="https://rgxkdk.corednacdn.com/web_images/ads_0001461908979.jpg" alt="HACC"></a>
					</div>

					<div class="item">
						<a href="http://venetoclubmelbourne.com.au/" target="_blank"><img src="https://rgxkdk.corednacdn.com/web_images/ads_0001461909001.jpg" alt="Veneto Club"></a>
					</div>

					<div class="item">
						<a href="http://venetoclubmelbourne.com.au/" target="_blank"><img src="https://rgxkdk.corednacdn.com/web_images/ads_0001461909018.jpg" alt="Blush by the Veneto Club"></a>
					</div>

					<div class="item">
						<a href="http://www.silverstonevolvo.com.au/volvo/" target="_blank">
							<img src="https://rgxkdk.corednacdn.com/web_images/ads_0001461909036.jpg" alt="Silverstone Volvo">
						</a>
					</div>

					<div class="item">
						<a href="https://www.bendigobank.com.au/public/community/our-branches/doncaster-east" target="_blank"><img src="https://rgxkdk.corednacdn.com/web_images/ads_0001461909051.jpg" alt="Bendigo Bank"></a>
					</div>

					<div class="item">
						<img src="https://rgxkdk.corednacdn.com/web_images/ads_0001461909133.jpg" alt="Rotary">
					</div>

					<div class="item">
						<a href="http://fletchers.net.au/manningham" target="_blank">
							<img src="https://rgxkdk.corednacdn.com/web_images/ads_0001469759063.jpg" alt="Fletchers">
						</a>
					</div>

					<div class="item">
						<a href="http://www.edcc.com.au/" target="_blank">
							<img src="https://rgxkdk.corednacdn.com/web_images/ads_0001461909068.jpg" alt="East Doncaster Cricket Club">
						</a>
					</div>
					
					<div class="item">
						<img src="https://rgxkdk.corednacdn.com/web_images/ads_0001461909089.jpg" alt="Kiwanis">
					</div>

					<div class="item">
						<a href="http://www.whitefriars.vic.edu.au/" target="_blank">
							<img src="https://rgxkdk.corednacdn.com/web_images/ads_0001469759159.jpg" alt="Whitefriars College">
						</a>
					</div>

					<div class="item">
						<a href="http://www.kogo.org.au/" target="_blank">
							<img src="https://rgxkdk.corednacdn.com/web_images/ads_0001464230929.jpg" alt="Kogo">
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- 	</div> -->
{% endblock %}